<ion-header>
    <ion-toolbar>
        <ion-title>adicionarPosts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="AddPost(form)">
        <ion-item>
            <ion-label>Informe os dados do seu Post</ion-label>
        </ion-item>
        <ion-item>
            <ion-input placeholder="User ID" name="userId" [(ngModel)]="form.userId"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="ID" name="id" [(ngModel)]="form.id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Titulo" name="title" [(ngModel)]="form.title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea placeholder="Conteudo do Post..." name="body" [(ngModel)]="form.body"></ion-textarea>
        </ion-item>
        <ion-button expand="full" type="submit">Adicionar Post</ion-button>
    </form>

</ion-content>